<div class="about-grid">


  <div class="picture">
    <img src="/assets/conservatory.jpg" alt="Girl in observatory" width="600" >
  </div>

  <div class="bio">
    <h2>A bit about me</h2>
    <br/>
    In 2004, I moved to the Driftless Area of the States from Ivano-Frankivsk, Ukraine. While finishing my Bachelor's of Science
    and Engineering degree at the University of Iowa, I relocated to the Chicagoland area to pursue a career as a software developer and business analyst.
    <br/><br/>
    I really enjoy nature and being outdoors! In my free time, you can typically find me hiking or kayaking on a nice day.
    When indoors, I'm working towards tailoring each piece of clothing in my closet (a never ending task when you're a shopaholic).
    It's also impossible for me to pass by a greenhouse or garden section without collecting a new type of succulent. I am a self proclaimed
    plant mom with over 15 varieties of plants scattered around my home.
     <!-- Scroll up to check out some of my favorite varieties! -->
  </div>



</div>