<div class="work-grid">
    
  <div class="experience">
    
    <h2>A bit about my skills</h2>
    <br/>
    I am a detail-oriented and results-driven Developer and Business Analyst, always 
    striving to create modern and creative solutions. I have a diverse and expanding skill set as well as
    a unique point of view, which is attributed to working as part of product and quality assurance teams.
    My current focus is web app development, but I am experienced in both the frontend and backend.
    To view my professional experience and full list of skills, 
    <a href="https://www.anjelabubiy.com/Dev_Resume.pdf" target="_blank">check out</a> 
    my resume.
    
  </div>
    
</div>