// snap scrolling
.scroll-container {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  display: flex;
  height: 90vh;
}

.scroll-container::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

section {
  overflow-y: hidden;
  scroll-snap-align: center;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  position: relative;
  height: 80%;
}





